<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Entry summary</span>
      <span class="md-subhead">{{ swimmer.full_name }} at {{ meet.name }} on {{ meet.meet_date }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-list class="md-dense" flex>
      <md-list-item>
        <div class="md-list-item-text" layout="row" flex>
          <span flex>Race</span>
          <span flex="10">Entry time</span>
          <span flex="10">Cost</span>
        </div>
      </md-list-item>
      <md-list-item ng-repeat="entrytime in entry.entries">
        <div class="md-list-item-text" layout="row" flex>
          <span flex>{{ config.races[entrytime.best.race_type].name }}</span>
          <span flex="10" display-time="{{ entrytime.best.time }}"></span>
          <span flex="10">{{ entry.cost_per_race  | currency : '£' }}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <span flex>Admin fee</span>
        <span flex="10"></span>
        <span flex="10">{{ entry.admin_fee | currency : '£' }}</span>
      </md-list-item>
      <md-list-item>
        <span flex>TOTAL</span>
        <span flex="10"></span>
        <span flex="10">{{ entry.total_cost | currency : '£' }}</span>
      </md-list-item>
      <md-list-item>
        <span flex>PAID</span>
        <span flex="10"></span>
        <span flex="10">{{ entry.paid ? "Yes" : "No" }}</span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
