<md-card>
  {{ ctrl.meet }}
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Entry summary</span>
      <span class="md-subhead">{{ ctrl.swimmer.full_name }} at {{ ctrl.meet.name }} on {{ ctrl.meet.meet_date }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-list class="md-dense" flex>
      <md-list-item>
        <div class="md-list-item-text" layout="row" flex>
          <span flex>Race</span>
          <span flex="10">PB</span>
          <span flex="10">Cost</span>
        </div>
      </md-list-item>
      <md-list-item ng-repeat="entrytime in ctrl.entry.entrytimes">
        <div class="md-list-item-text" layout="row" flex>
          <span flex>{{ ctrl.config.races[entrytime.race_type].name }}</span>
          <span flex="10" display-time="{{ entrytime.time }}"></span>
          <span flex="10">{{ ctrl.meet.cost_per_race }}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <span flex>TOTAL</span>
        <span flex="10"></span>
        <span flex="10">{{ ctrl.meet.getTotalCostForEntries(ctrl.raceEntries) }}</span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
