<div ng-controller="EntryCtrl as app" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-content layout="column">
        <swimmer swimmer-id="app.entry.swimmer_id"></swimmer>

        <meet-events swimmer-id="app.entry.swimmer_id" meet-id="app.entry.meet_id"></meet-events>

        {{ app.meet }}

        <entry-summary entry="app.entry" meet="app.meet"></entry>

      </md-content>
    </div>
  </div>
</div>
