<div ng-controller="ClubCtrl as app">
  <div ng-include="'partials/section-menu.html'"></div>

  <div layout-padding>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="club in app.clubs" ng-click="app.navigateTo('/edit/' + club.id)">
        <div class="md-list-item-text">
          <h3>{{club.name}} ({{club.code}})</h3>
        </div>
        <span flex></span>
        <md-button ng-click="app.delete(club.id)" class="md-secondary">Delete</md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
