<div ng-controller="ClubCtrl as app" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="club">
    <md-content class="md-padding">
      <div layout-padding>
        <div ng-cloak class="md-inline-form">
          <md-content layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Name</label>
              <input ng-model="app.club.name">
            </md-input-container>
          </md-content>
        </div>
      </div>
  </md-tab>

  <md-tab label="swimmers" md-on-select="app.getSwimmers()" ng-if="club.id">
    <md-content class="md-padding">
        <md-content>
          <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">Swimmers ({{ swimmers.count }})</md-subheader>
            <md-list-item ng-repeat="swimmer in swimmers.rows">
              <div class="md-list-item-text" layout="row" flex>
                <span flex>{{ swimmer.id }}</span>
                <span flex>{{ swimmer.regno }}</span>
                <span flex>{{ swimmer.first_name }} {{ swimmer.last_name }}</span>
                <span flex>{{ swimmer.dob }}</span>
                <span flex>{{ swimmer.gender }}</span>
                <md-button ng-click="deleteSwimmer(swimmer.id)" class="md-secondary">Delete</md-button>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
</div>
