<div ng-controller="ClubCtrl as app" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <md-content class="md-padding">
    <div layout-padding>
      <div ng-cloak class="md-inline-form">
        <md-content layout="column">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Name</label>
            <input ng-model="app.club.name">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Meet name</label>
            <input ng-model="app.club.meet_name">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Code</label>
            <input ng-model="app.club.code">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>County</label>
            <input ng-model="app.club.county">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>District</label>
            <input ng-model="app.club.district">
          </md-input-container>
        </md-content>
      </div>
    </div>
  </md-content>
</div>
