<div ng-controller="ClubCtrl">
  <div ng-include="'partials/section-menu.html'"></div>

  <div ng-init="getAll()" layout-padding>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="club in clubs.rows" ng-click="navigateTo('/' + club.id)">
        <div class="md-list-item-text">
          <h3>{{club.name}}</h3>
        </div>
        <span flex></span>
        <md-button ng-click="delete(club.id)" class="md-secondary">Delete</md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
