<div ng-controller="MeetCtrl as app" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-content layout="column">
        <form name="userForm" flex layout-padding>
         <div layout="row">
           <md-input-container class="md-block" flex-gt-xs>
             <label>Name</label>
             <input ng-model="app.meet.name" required>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>Venue</label>
             <input ng-model="app.meet.venue">
           </md-input-container>
         </div>
         <div layout="row">
           <md-input-container class="md-block" flex-gt-xs>
             <label>Promoter</label>
             <input ng-model="app.meet.promoter">
           </md-input-container>
         </div>

         <div layout="row">
           <md-input-container flex="33">
             <label>Start date (yyyy-mm-dd)</label>
             <input ng-model="app.meet.meet_date" md-placeholder="Meet date" required>
           </md-input-container>
           <md-input-container flex="33">
             <label>End date (yyyy-mm-dd)</label>
             <input ng-model="app.meet.end_date" md-placeholder="End date">
           </md-input-container>
           <md-input-container flex="33">
             <label>Qualification date (yyyy-mm-dd)</label>
             <input ng-model="app.meet.qual_date" md-placeholder="Qualification date">
           </md-input-container>
         </div>
         <div layout="row">
           <md-switch ng-model="app.meet.is_open" aria-label="Open" flex="20">
             Open for entries
           </md-switch>
           <md-switch ng-model="app.meet.is_complete" aria-label="Complete" flex="20">
             Completed
           </md-switch>
         </div>
         <div layout-gt-sm="row">
           <md-switch ng-model="app.meet.multi_session" aria-label="Multi-session" flex="20">
             Multi session
           </md-switch>
           <md-input-container ng-if="app.meet.multi_session">
             <label>Number of sessions</label>
             <input ng-model="app.meet.num_sessions" md-placeholder="Number of sessions" ng-pattern="/^[1-9]|[1-9][0-9]$/">
           </md-input-container>
         </div>
         <div layout-gt-sm="row">
           <md-input-container>
             <label>Age entry type</label>
             <md-select ng-model="app.meet.age_type" flex-gt-xs>
               <md-option ng-repeat="type in config.meet_age_types" value="{{type.code}}">{{type.name}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Minimum Times (Base times)</label>
             <md-select ng-model="app.meet.minimum_timesheet_id" flex-gt-xs ng-change="checkEventsAndGroups()">
               <md-option ng-repeat="sheet in timesheets" value="{{sheet.id}}">{{ sheet.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Automatic Times (Auto times)</label>
             <md-select ng-model="app.meet.auto_timesheet_id" flex-gt-xs>
               <md-option value="-1">No auto entry times</md-option>
               <md-option ng-repeat="sheet in timesheets" value="{{sheet.id}}">{{ sheet.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Maximum Times (Upper limit)</label>
             <md-select ng-model="app.meet.maximum_timesheet_id" flex-gt-xs ng-change="checkEventsAndGroups()">
               <md-option value="-1">No maximum entry times</md-option>
               <md-option ng-repeat="sheet in timesheets" value="{{sheet.id}}">{{ sheet.name }}</md-option>
             </md-select>
           </md-input-container>
         </div>
         <div layout="row">
           <md-input-container>
             <label>Cost per race</label>
             <input ng-model="app.meet.cost_per_race">
           </md-input-container>
           <md-input-container>
             <label>Admin fee</label>
             <input ng-model="app.meet.admin_fee">
           </md-input-container>
         </div>
         <div layout-gt-sm="row">
           <md-input-container>
             <label>Type</label>
             <md-select ng-model="app.meet.meet_type" flex-gt-xs>
               <md-option ng-repeat="type in app.config.meet_types" value="{{type}}">{{type}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Lanes</label>
             <md-select ng-model="app.meet.lanes" flex-gt-xs>
               <md-option ng-repeat="lane in app.config.lanes" value="{{lane}}">{{lane}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Course</label>
             <md-select ng-model="app.meet.course_type" flex-gt-xs>
               <md-option ng-repeat="course_type in app.config.course_types" value="{{course_type.code}}">{{course_type.name}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Entrants</label>
             <md-select multiple="true" ng-model="app.meet.genders_arr" flex-gt-xs>
               <md-option ng-repeat="(key, gender) in app.config.genders" value="{{key}}">{{gender}}</md-option>
             </md-select>
            <md-input-container>
         </div>
         <div layout="row">
           <md-input-container flex="20">
             <label>Add race type</label>
             <md-select ng-model="selected_race_type">
               <md-option ng-repeat="(key, race) in app.config.races | raceByCourse:app.meet.course_type" value="{{key}}">{{ race.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container flex>
             <md-button class="md-raised md-primary" aria-label="Add race type" ng-click="app.meet.addRaceType(selected_race_type)">
               Add
             </md-button>
           </md-input-container>
           <md-input-container flex="20">
             <label>Add group</label>
             <md-select ng-model="entry_group">
               <md-option ng-repeat="(key, group) in app.config.entry_groups" value="{{key}}">{{ group.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container flex>
             <md-button class="md-raised md-primary" aria-label="Add entry group" ng-click="app.meet.addEntryGroup(entry_group)">
               Add
             </md-button>
           </md-input-container>
         </div>
      </form>

       <md-card id="events">
         <md-toolbar>
           <div layout="row" class="md-toolbar-tools">
             <span class="md-headline">Events</span>
           </div>
         </md-toolbar>
         <div layout-padding>
           <div>
             <md-list ng-repeat="gender in app.meet.genders_arr">
               <div layout="row">
                 <md-subheader class="md-no-sticky" flex="20">{{config.genders[gender]}}</md-subheader>
                 <md-subheader class="md-no-sticky" flex ng-repeat="entry_group in app.meet.entry_groups_arr | orderBy: entry_group">{{ config.entry_groups[entry_group].name }}</md-subheader>
               </div>
               <div ng-repeat="race_type in app.meet.race_types_arr">
                 <md-list-item layout="row">
                   <span flex="20">{{ app.config.races[race_type].name }}</span>
                   <span flex ng-repeat="entry_group in app.meet.entry_groups_arr">
                     <md-checkbox ng-model="app.meet.entry_events[gender][entry_group][race_type]" aria-label="h">
                     </md-checkbox>
                   </span>
                 </md-list-item>
                 <md-divider></md-divider>
               </div>
             </md-list>
           </div>
         </div>
       </md-card>
    </md-content>
    </div>
  </div>
</div>
