<div ng-controller="MeetCtrl" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-content layout="column">
        <form name="userForm" flex>
         <div layout="row">
           <md-input-container class="md-block" flex-gt-xs>
             <label>Name</label>
             <input ng-model="meet.name">
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>Venue</label>
             <input ng-model="meet.venue">
           </md-input-container>
         </div>
         <div layout="row">
           <md-input-container class="md-block" flex-gt-xs>
             <label>Promoter</label>
             <input ng-model="meet.promoter">
           </md-input-container>
         </div>
         <div layout-gt-sm="row" class="form_dates">
           <div layout="column">
             <label>Start date</label>
             <md-datepicker ng-model="meet.meet_date" utc-parser md-placeholder="Meet date">
             </md-datepicker>
           </div>
           <div layout="column">
             <label>End date</label>
             <md-datepicker ng-model="meet.end_date" utc-parser md-placeholder="End date">
             </md-datepicker>
           </div>
           <div layout="column">
             <label>Qualification date</label>
             <md-datepicker ng-model="meet.qual_date" utc-parser md-placeholder="Qualification date">
             </md-datepicker>
           </div>
         </div>
         <div layout-gt-sm="row">
           <md-input-container>
             <label>Age entry type</label>
             <md-select ng-model="meet.age_type" flex-gt-xs>
               <md-option ng-repeat="type in config.meet_age_types" value="{{type.code}}">{{type.name}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Timesheet</label>
             <md-select ng-model="meet.timesheet_id" flex-gt-xs>
               <md-option ng-repeat="sheet in timesheets" value="{{sheet.id}}">{{ sheet.name }}</md-option>
             </md-select>
           </md-input-container>
         </div>
         <div>
           <md-input-container class="md-block" flex-gt-xs>
             <label>Cost per race</label>
             <input ng-model="meet.cost_per_race">
           </md-input-container>
         </div>
         <div layout-gt-sm="row">
           <md-input-container>
             <label>Type</label>
             <md-select ng-model="meet.meet_type" flex-gt-xs>
               <md-option ng-repeat="type in config.meet_types" value="{{type}}">{{type}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Lanes</label>
             <md-select ng-model="meet.lanes" flex-gt-xs>
               <md-option ng-repeat="lane in config.lanes" value="{{lane}}">{{lane}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Course</label>
             <md-select ng-model="meet.course_type" flex-gt-xs>
               <md-option ng-repeat="course_type in config.course_types" value="{{course_type.code}}">{{course_type.name}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Entrants</label>
             <md-select multiple="true" ng-model="meet.genders_arr" flex-gt-xs>
               <md-option ng-repeat="(key, gender) in config.genders" value="{{key}}">{{gender}}</md-option>
             </md-select>
            <md-input-container>
         </div>
         <div layout="row">
           <md-input-container flex="20">
             <label>Add race type</label>
             <md-select ng-model="selected_race_type">
               <md-option ng-repeat="(key, race) in config.races | raceByCourse:meet.course_type" value="{{key}}">{{ race.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container flex>
             <md-button class="md-raised md-primary" aria-label="Add race type" ng-click="addRaceType(selected_race_type)">
               Add
             </md-button>
           </md-input-container>
           <md-input-container flex="20">
             <label>Add group</label>
             <md-select ng-model="entry_group">
               <md-option ng-repeat="(key, group) in config.entry_groups" value="{{key}}">{{ group.name }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container flex>
             <md-button class="md-raised md-primary" aria-label="Add entry group" ng-click="addEntryGroup(entry_group)">
               Add
             </md-button>
           </md-input-container>
         </div>
      </form>

       <md-card id="events">
         <md-toolbar>
           <div layout="row" class="md-toolbar-tools">
             <span class="md-headline">Events</span>
           </div>
         </md-toolbar>
         <div layout-padding>
           <div>
             <md-list ng-repeat="gender in meet.genders_arr">
               <div layout="row">
                 <md-subheader class="md-no-sticky" flex="20">{{config.genders[gender]}}</md-subheader>
                 <md-subheader class="md-no-sticky" flex ng-repeat="entry_group in meet.entry_groups_arr | orderBy: entry_group">{{ config.entry_groups[entry_group].name }}</md-subheader>
               </div>
               <div ng-repeat="race_type in meet.race_types_arr">
                 <md-list-item layout="row">
                   <span flex="20">{{ config.races[race_type].name }}</span>
                   <span flex ng-repeat="entry_group in meet.entry_groups_arr">
                     <md-checkbox ng-model="meet.entry_events[gender][entry_group][race_type]" aria-label="">
                     </md-checkbox>
                   </span>
                 </md-list-item>
                 <md-divider></md-divider>
               </div>
             </md-list>
           </div>
         </div>
       </md-card>
    </md-content>
    </div>
  </div>
</div>
