[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
body {
  padding-top: 50px;
}
.swim-resultinator {
  padding: 40px 15px;
  text-align: center;
}

.form_dates {
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lap-time-input {
  white-space: nowrap;
  margin: 4px 8px;
}
.form-time-control {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
}
input.form-time-control  {
  border-style: none none solid none;
  border-width: 1px;
  border-color: rgb(208,208,208);
  text-align: right;
  width: 20px;
}
.lap-time-sep {
  margin: -4px;
}
.form-time-control:focus {
  outline: 0;
  border-width: 2px;
  border-color: rgb(63,81,181);
}

input.form-time-control.ng-invalid {
  border-color: red;
  border-width: 2px;
}

.error {
  color: red;
}
