<div ng-controller="MeetCtrl" layout="column">
  <div ng-include="'partials/meets-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-content layout="column">
        <form name="userForm" flex>
         <div layout="row">
           <md-input-container class="md-block" flex-gt-xs>
             <label>Name</label>
             <input ng-model="meet.name">
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>Venue</label>
             <input ng-model="meet.venue">
           </md-input-container>
         </div>
         <div layout-gt-sm="row" flex>
           <div layout="column">
             <label>Start date</label>
             <md-datepicker ng-model="meet.meet_date" utc-parser md-placeholder="Meet date">
             </md-datepicker>
           </div>
           <div layout="column">
             <label>End date</label>
             <md-datepicker ng-model="meet.end_date" utc-parser md-placeholder="End date">
             </md-datepicker>
           </div>
           <div layout="column">
             <label>Qualification date</label>
             <md-datepicker ng-model="meet.qual_date" utc-parser md-placeholder="Qualification date">
             </md-datepicker>
           </div>
         </div>
         <div layout-gt-sm="row">
           <md-input-container>
             <label>Type</label>
             <md-select ng-model="meet.meet_type" flex-gt-xs>
               <md-option ng-repeat="type in meet_types" value="{{type}}">{{type}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container>
             <label>Lanes</label>
             <md-select ng-model="meet.lanes" flex-gt-xs>
               <md-option ng-repeat="lane in lanes" value="{{lane}}">{{lane}}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>Promoter</label>
             <input ng-model="meet.promoter">
           </md-input-container>
         </div>
         <md-switch ng-model="meet.hdw" aria-label="Heat declared winner">
           Heat declared winner
         </md-switch>
         <md-switch ng-model="meet.aoe" aria-label="Age on entry">
           Age on entry
         </md-switch>
       </form>

       <md-card id="events">
         <md-toolbar>
           <div layout="row" class="md-toolbar-tools">
             <span class="md-headline">Events</span>
           </div>
         </md-toolbar>
         <md-list>
           <md-item></md-item>
           <md-divider></md-divider>
         </md-list>
       </md-card>
    </md-content>
    </div>
  </div>
</div>
