<md-toolbar>
<div layout="row" class="md-toolbar-tools">
  <h2 class="md-toolbar-tools" ng-switch on="status">
    <span ng-switch-when="edit" ng-cloak>
      <span ng-if="meet.id">Editing: {{meet.name}}</span>
      <span ng-if="!meet.id">Create new meet</span>
    </span>
    <span ng-switch-default>Meet management</span>
  </h2>
  <span flex></span>
    <div ng-if="status == 'edit'">
      <md-button class="md-raised" aria-label="Save" ng-click="save()">
        Save
      </md-button>
    </div>
    <div ng-if="status != 'edit'">
      <md-button class="md-raised" aria-label="Add" ng-click="add()">
        Add
      </md-button>
    </div>
  </div>
</div>
</md-toolbar>
