<md-toolbar>
<div class="md-toolbar-tools">
  <h2>
    <span>{{menu.title}}</span>
  </h2>
  <span flex></span>
  <span class="status-message">{{status_message}}</span>
  <md-button class="md-raised" aria-label="Save" ng-click="save()" ng-if="status == 'edit'">
    Save
  </md-button>
  <md-button class="md-raised" aria-label="Add" ng-click="add()" ng-if="status != 'index'">
    Add
  </md-button>
  <a ng-href="/logout" ng-if="session.authenticated">
    <img alt="{{ session.user.fullName() }}" ng-src="{{ session.user.photo }}" class="img-circle"/>
  </a>
</div>
</md-toolbar>
