<div ng-controller="EnterCtrl as app">
  <div ng-include="'partials/section-menu.html'"></div>

  <div layout-padding>
    <div layout="column">
      <md-card ng-if="!app.swimmer">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Enter Meet</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Enter your ASA number below</p>
          <md-input-container class="md-block" flex="75">
            <label>ASA Number</label>
            <input ng-model="app.asaregno">
          </md-input-container>
        </md-card-content>
      </md-card>

      <div ng-if="app.swimmer && !app.entry" layout="column">
        <swimmer swimmer-id="app.swimmer.id"></swimmer>

        <md-card>
          <md-card-content>
            <md-input-container>
              <label>Select meet</label>
              <md-select ng-model="app.meetId" flex-gt-xs ng-change="app.selectMeet()">
                <md-option ng-repeat="meet in app.meets" value="{{ meet.id }}">{{ meet.name }}, {{ meet.venue }} - {{ meet.startDate() }}</md-option>
              </md-select>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>

      <div ng-if="app.meetId && !app.entry">
        <meet-events meet-id="app.meetId" swimmer-id="app.swimmer.id" race-entries="app.raceEntries" entry-events="app.entryEvents"></meet-events>
      </div>

      <div ng-if="app.entry">
        <entry-summary entry="app.entry" swimmer="app.swimmer" meet="app.meet"/>
      </div>

      <md-button class="md-raised md-primary" aria-label="Find swimmer" ng-click="app.moveToNext()">
        Next
      </md-button>
      <p class="error">{{ message }}</p>
    </div>
  </div>
</div>
