<div ng-controller="TimesheetCtrl" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>

  <md-content class="md-padding">
     <h2>Import Timesheet</h2>


     <md-input-container class="md-block">
       <label>Paste import data below</label>
       <textarea ng-model="importData" rows="5" md-select-on-focus></textarea>
     </md-input-container>

     <md-button ng-click="parseImport()" class="md-primary md-raised">Parse</md-button>

     <ng-include src="'/app/components/timesheets/_timesheetedit.html'"/>
     
  </md-content>
</div>
