<div ng-controller="TimesheetCtrl as app">
  <div ng-include="'partials/section-menu.html'"></div>

  <md-button ng-click="app.navigateTo('/import')" class="md-primary md-raised">Import</md-button>

  <div layout-padding>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="timesheet in app.timesheets" ng-click="app.navigateTo('/edit/' + timesheet.id)">
        <div class="md-list-item-text">
          <h3>{{timesheet.name}}</h3>
        </div>
        <span flex></span>
        <md-button ng-click="app.delete(timesheet.id)" class="md-secondary">Delete</md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
