<div ng-controller="SwimmersCtrl as app" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form" ng-include="'/app/components/swimmers/edit.html'">

    </div>
    <div ng-if="app.swimmer.id">
      <span ng-if="app.swimmer.regno">
        <md-button class="md-raised md-primary" aria-label="Find swimmer" ng-click="app.lookupTimes()">
          Lookup times
        </md-button>
      </span>
      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">Individual best swim times</md-subheader>
        <div ng-repeat="course_type in app.config.course_types">
        <md-subheader class="md-no-sticky">{{course_type.name}}</md-subheader>
        <md-list-item ng-repeat="time in app.swimmer.getTimesByCourseType(course_type.code)">
          <div class="md-list-item-text" layout="row" flex>
            <span flex="10">{{ app.config.races[time.race_type].course_type }}</span>
            <span flex>{{ app.config.races[time.race_type].name }}</span>
            <span flex display-time="{{ time.time }}"></span>
            <span flex >{{ time.meet_name }}</span>
            <span flex >{{ time.venue }}</span>
          </div>
        </md-list-item>
        </div>
      </md-list>
    </div>
  </div>
</div>
