<div ng-controller="SwimmersCtrl" layout="column">
  <div ng-include="'partials/section-menu.html'"></div>
  <div layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-content layout="column">
        <div layout="row">
          <md-input-container>
            <label>Firstname</label>
            <input ng-model="swimmer.first_name">
          </md-input-container>
          <md-input-container>
            <label>Surname</label>
            <input ng-model="swimmer.last_name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container>
            <label>Date of Birth (yyyy-mm-dd)</label>
            <input ng-model="swimmer.dob">
          </md-input-container>
          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="swimmer.gender" flex>
              <md-option ng-repeat="(key, gender) in config.swimmer_genders" value="{{key}}">{{gender}}</md-option>
            </md-select>
          <md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex="75">
            <label>ASA Number</label>
            <input ng-model="swimmer.regno">
          </md-input-container>
          <span flex ng-if="swimmer.id">
            <md-button class="md-raised md-primary" aria-label="Find swimmer" ng-click="lookupTimes()">
              Lookup times
            </md-button>
          </span>
        </div>
      </md-content>
    </div>
    <div ng-if="swimmer.id">
      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">Individual best swim times</md-subheader>
        <div ng-repeat="course_type in config.course_types">
        <md-subheader class="md-no-sticky">{{course_type.name}}</md-subheader>
        <md-list-item ng-repeat="time in swimmer.getTimesByCourseType(course_type.code)">
          <div class="md-list-item-text" layout="row" flex>
            <span flex="10">{{ config.races[time.race_type].course_type }}</span>
            <span flex>{{ config.races[time.race_type].name }}</span>
            <span flex display-time="{{ time.time }}"></span>
            <span flex >{{ time.meet_name }}</span>
            <span flex >{{ time.venue }}</span>
          </div>
        </md-list-item>
        </div>
      </md-list>
    </div>
  </div>
</div>
