<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swim Resultinator</title>
	  <link rel="stylesheet" href="public/stylesheets/style.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
</head>
<body ng-app="SwimResultinator" ng-cloak>

<div ng-controller="AppCtrl" layout="column">
  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="true"
        md-disable-backdrop
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Swim Resultinator</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <div>
          <md-list ng-controller="MenuListCtrl" ng-cloak>
            <md-list-item class="md-clickable" ng-click="navigateTo('/home')">Home</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/clubs')">Clubs</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/swimmers')">Swimmers</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/timesheets')">Timesheets</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/meets')">Meets</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/entries')">Entries</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/results')">Results</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/about')">About</md-list-item>
            <md-list-item class="md-clickable" ng-click="navigateTo('/contact')">Contact</md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-sidenav>
    <md-content flex>
      <div layout="column" layout-fill layout-align="top left" ng-view>

      </div>
    </md-content>
  </section>
</div>

  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>

  <script src="app/app.module.js"></script>
  <script src="app/app.routes.js"></script>
  <script src="app/app.services.js"></script>
  <script src="app/app.menu.js"></script>
  <script src="app/app.directives.js"></script>
  <script src="app/app.routeprovider.js"></script>
  <script src="app/components/clubs/clubs.controller.js"></script>
  <script src="app/components/clubs/clubs.factory.js"></script>
  <script src="app/components/timesheets/timesheets.controller.js"></script>
  <script src="app/components/timesheets/timesheets.factory.js"></script>
  <script src="app/components/meets/meets.controller.js"></script>
  <script src="app/components/meets/meets.factory.js"></script>
  <script src="app/components/swimmers/swimmers.factory.js"></script>
  <script src="app/components/swimmers/swimmers.controller.js"></script>
  <script src="app/components/entries/entry.factory.js"></script>
  <script src="app/components/entries/entries.controller.js"></script>
  <script src="app/components/results/results.controller.js"></script>
  <script src="app/components/results/results.routes.js"></script>


</body>
</html>
